$font :'Kumbh Sans', sans-serif; 
$background-gradient: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
$font-color:hsl(240, 6%, 50%);
$font-bold-color:hsl(237, 12%, 33%);
$divider-color:hsl(240, 5%, 91%);
$hovered-color:hsl(14, 88%, 65%);

$arrow-down-image-url:url("../images/icon-arrow-down.svg");
$main-illustration:url("../images/illustration-woman-online-desktop.svg");
$mobile-illustration:url("../images/illustration-woman-online-mobile.svg");

$xs: 320px; 
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


