@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import 'reset';
@import 'settings';

body{
    font-family: $font;  
    line-height: 2;
}
              

main{
    background-image: $background-gradient;  
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $md) {
        padding-top: 10rem;
        height: auto;
    }
   
    .card{
        background-color: #fff;
        width: 60rem;
        height: minmax(30rem,auto);
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media only screen and (max-width: $md) {
            grid-template-columns: repeat(1, 1fr);
            width: 80%;
            margin-bottom: 1.5rem;

            h1{
                text-align: center;
            }

        }

        
        &__section__image{
            position: relative;
            background: $main-illustration no-repeat, url("../images/bg-pattern-desktop.svg") no-repeat;
            background-size: auto, contain;
            background-position: center;
            background-position-x: -5rem;

            @media only screen and (max-width: $md) {
               background: none ;
            }
                        
            &__illustration-box{
                content: url("../images/illustration-box-desktop.svg");
                position: absolute;
                top: 50%;
                left: -6rem;
                transform: translateY(-25%);

                @media only screen and (max-width: $md) {
                    display: none;
                }
            }

            &__illustration-mobile{
                display: none;
                @media only screen and (max-width: $md) {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-55%,-55%);
                    content: url("../images/illustration-woman-online-mobile.svg");
                }
            }
        }

        &__section__faq{
            padding:4rem 2rem 4rem 1rem;

            @media only screen and (max-width: $md) {
                padding-top: 8rem;
                padding-left: 2rem;
            }      

            &__container{
                display: flex;
                justify-content: space-between;

                .arrow-img{
                    align-self: center;
                    width: 1.5rem;
                    height: 0.4rem;
                    background: $arrow-down-image-url no-repeat;
                } 
                
                .rotate-arrow{
                    transform: rotate(180deg);
                    margin-right: 10px;
                }
                
            }
        }

        ul{
            font-size: 12px;
            color: $font-color;
            list-style: none;

            li{
                border-bottom: 1px solid $divider-color;
                padding: 1rem 0;

                h2{
                    font-weight: normal;

                    &:hover{
                        color: $hovered-color;
                        font-weight: bold;

                    }
                }

                p{
                    padding: 1rem 0 0 0;
                }

                // h2::after{
                //     content: url("../images/icon-arrow-down.svg");
                //     //background-image: url("../images/icon-arrow-down.svg") no-repeat;
                // }

                                
                .bold{
                    font-weight: 700;
                    color: $font-bold-color;
                }   
                               
                .hidden{
                    height: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s linear 300ms, opacity 300ms;   
                }
            }

        }
    }
}